# Python Virtual Environment
    /backend/venv/

# Python cache
    __pycache__/
    *.pyc

# Environment variables
    .env

# IDE and editor folders
    .vscode/
    .idea/

# Build artifacts
    /build/
    /dist/
    *.egg-info/
/backend/venv/
